{% extends 'base.html' %}

{% block content %}

<h1>Enter the book information here</h1> 
    <br>
    <div class="shadow w-25 p-3 mb-5 bg-white rounded mx-auto">
    <form method="POST">
        {{ form.hidden_tag() }}

        {{ form.title.label(class="form-label") }}
        {{ form.title(class="form-control") }}
        <br/>
        {{ form.author.label(class="form-label") }}
        {{ form.author(class="form-control") }}
        <br/>
        {{ form.synopsis.label(class="form-label") }}
        {{ form.synopsis(class="form-control") }}
        <br/>
        {{ form.available.label(class="form-label") }}
        {{ form.available(class="form-control") }}
        <br/>
        {{ form.submit(class="btn btn-primary") }} 
    </div>

{% endblock %}
