<!DOCTYPE html>
<html>
    <h1>Welcome to the login page</h1>
    <br>
    <h2>Please login to continue</h2>

    {% if name %}
    <h3>Hello {{ name }}</h3>
    {% else %}
    <h1>Fill out the details below</h1>
    <br/>
    <form method="POST">
        {{ form.hidden_tag() }}

        {{ form.name.label }}
        {{ form.name() }}
        <br/>
        {{ form.password.label }}
        {{ form.password() }}
        <br/>
        {{ form.submit() }}
        
  
    </form>

    {% endif %}





</html>