<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{{ url_for('bookview') }}">Books<span class="sr-only"></span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('add_book') }}">Add Book</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('borrowerview') }}">View Borrowers</a>
          </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('borroweradd') }}">Borrower Add</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('borrowview') }}">Borrow View</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('borrowadd') }}">Borrow Add</a>
          </li>
          
      </ul>
      <form method="POST" action="{{url_for('booksearch')}}" class="form-inline my-2 my-lg-0">
        {{ form.hidden_tag() }}
        <input class="form-control mr-sm-2" type="search" placeholder="Enter Book Title" aria-label="Search",   name="searched">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search Book</button>
      </form>
    </ul>
    <form method="POST" action="{{url_for('borrowersearch')}}" class="form-inline my-2 my-lg-0">
      {{ form.hidden_tag() }}
      <input class="form-control mr-sm-2" type="search" placeholder="Enter First Name" aria-label="Search",   name="searched">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search Borrower</button>
    </form>
    </div>
  </nav>