<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{{ url_for('readerbookview') }}">Books<span class="sr-only"></span></a>         
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('myborrows') }}">Borrow History<span class="sr-only"></span></a>         
          </li>                       

        <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('logout') }}">Logout<span class="sr-only"></span></a>         
          </li> 
      </ul>    
      <form method="POST" action="{{url_for('readerbooksearch')}}" class="form-inline my-2 my-lg-0">
        {{ form.hidden_tag() }}
        <input class="form-control mr-sm-2" type="search" placeholder="Enter Book Title" aria-label="Search",   name="searched">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search Book</button>
      </form>
    </ul>  
    </div>
  </nav>